<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../statics/base.js" type="text/javascript"></script>
    <script src="../statics/jquery.js" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
</head>
<body>
    {% if output != '' %}
     <td>
         <tr>{{output}}</tr>
     </td>
    {% endif %}
</body>
</html>